<main>
  <section class="gallery" id="portafolio">
    <div class="contenedor">

  <ul style="display: flex; overflow-x: scroll">
    <!-- homeless animals -->
    <li
    class="img-galeria"
      style="flex-shrink: 0; width: 400px; height: 400px"
      *ngFor="let animal of animalService.homelessAnimals; let i = index"
    >
      <a href="" class="carr">
        <img
          style="width: 100%; height: 500px; object-fit: cover"
          [src]="animal.picture"
        />
      </a>
    </li>
  </ul>
</div>
</section>



<div class="row">
  <div class="col-sm-4 col-xs-12 text-center">
    <h1>#ADOPCION</h1>
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <h1>#ADOPTANOCOMPRES</h1>
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <h1>#PETOPIA</h1>
  </div>
</div>

  <ul class="cards">
    <!-- all animals -->
    <li
      style="flex-shrink: 0; width: 400px; padding: 30px;"
      *ngFor="let animal of animalService.animals; let i = index"
    >
      <a href="" class="card">
        <img
          style="width: 100%; height: 500px; object-fit: cover"
          [src]="animal.picture"
          class="card__image"
          [alt]="animal.image.name"
        />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <p class="card__status">Name: {{ animal.name }}</p>
              <p class="card__status">Sex: {{ animal.sex }}</p>
              <p class="card__status">Size: {{ animal.size }}</p>
              <span class="card__status"
                >Date of birth:
                {{ animal.date_of_birth | date : "longDate" }}</span
              >
            </div>
          </div>
          <p class="card__description">Description: {{ animal.description }}</p>
        </div>
      </a>
    </li>
  </ul>
</main>

<script>
  const imagenes = document.querySelectorAll('.img-galeria');
const imagenesLight = document.querySelector('.agregar-imagen');
const contenedorLight = document.querySelector('.imagen-light');

imagenes.forEach(imagen =>{
    imagen.addEventListener('click', ()=>{
        aparecerImagen(imagen.getAttribute('src'))

    })
})

contenedorLight.addEventListener('click', (e) =>{
    if(e.target !== imagenesLight){
        contenedorLight.classList.remove('show');
        imagenesLight.classList.remove('showImage');
    }
})

const aparecerImagen = (imagen) =>{
    imagenesLight.src = imagen;
    contenedorLight.classList.add('show');
    imagenesLight.classList.add('showImage');
}
</script>
