<div class="container-fluid">
  <div class="row" style="background-color:#fff">
    <div class="col-xl-2 col-lg-0 col-md-0 col-sm-0 col-xs-0" style="background-color:#fff"></div>

    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:#fff">

      <!-- INSTAGRAM -->
      <div class="mainbox">
        <div class="profileTop">
          <div class="profileImg">
            <img src="../../../assets/img/PETOPIA_azul.png" name="vishal sondarva" tag="vishal sondarva" />
          </div>
          <div class="profileFollow">
            <table>
              <tr class="topsub">
                <td>9</td>
                <td>246</td>
                <td>57</td>
              </tr>
              <tr class="bottomsub">
                <td>Posts</td>
                <td>Followers</td>
                <td>Following</td>
              </tr>
            </table>
            <a href="#">Follow</a>
          </div>
        </div>
        <div class="profileDetail">
          <p>PETOPIA</p>
          <p>Proyecto Grado superior<br>
            #PROYECTO_PETOPIA</p>
        </div>

        <div class="tabBox">
          <div class="tab">
            <label class="icon-grid" data-js-icon-grid="data-js-icon-grid" data-state="active">
              <input class="control" type="checkbox" checked="checked">
              <div class="icon"></div>
            </label>
          </div>

          <div class="tab">
            <label class="icon-row" data-js-icon-row="data-js-icon-row" data-state="muted">
              <input class="control" type="checkbox">
              <div class="icon"></div>
            </label>
          </div>

          <div class="tab" style="margin-top: 5px;">
            <div class="icon-tagged">
              <div class="avatar"></div>
            </div>
          </div>

        </div>

        <!-- INSTAGRAM -->
        <div class="ImgTab">
          <script src="https://s.electricblaze.com/widget.js" defer></script>
          <div class="electricblaze-id-2Uhx97d"></div>
        </div>
      </div>
    </div>

    <!-- TWITTER Y PAYPAL -->
    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="background-color:#fff;">
      <script src="https://s.electricblaze.com/widget.js" defer></script>
      <br>
      <div class="electricblaze-id-2Uhx97j"></div>
      <br><br>

      <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
      <div class="elfsight-app-a187a208-8ae5-4779-8924-17ee35171c99"></div>
    </div>

    <!--<div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-xs-0" style="background-color:#fff"></div>-->

  </div>
</div>









