<div class="container d-none d-md-block" style="display: block;">
  <footer class="py-5">
    <div class="row">
      <div class="col-lg-6 col-md-12" id="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.9714105227026!2d-3.4771074485590154!3d40.67459887923465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!3m2!1ses!2ses!4v1532506457312"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe><br>

        <!--<div class="col-md-5 offset-md-1 mb-6">
          <br><h5>Suscribete para recibir notificaciones</h5>
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <!--<div class="col-md-12 form-group">
                <label for="name">Nombre y apellidos:</label><br>
                <input type="text" name="name" class="form-control" id="name" required><br>
              </div>

              <div class="col-md-12 form-group"><br>
                <label for="newsletter1">Email:</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                <button class="btn btn-danger col-md-12 text-center" type="submit">Suscribirse</button>
              </div>
            </div>
          </form>
        </div>-->
        <div class="elfsight-app-944f53d5-b0fe-406c-afdf-0a2c486cdde1"></div>
      </div>

      <div class="container col-xl-6 d-none d-lg-block">
        <div class="elfsight-app-73b047f9-af64-481f-9e0d-61266738ed1a" style="width: 80%; height: auto;"></div>
      </div>



      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <span><img src="../../../assets/img/1.png" class="col-md-10" /></span>
        <span class="text-center"><img src="../../../assets/img/PETOPIA_azul.png" class="col-md-2 text-center" /><br><br>
        <p>&copy; 2023 Alba Núñez Arranz.</p>
      </span>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#twitter" />
          </svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#instagram" />
          </svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#facebook" />
          </svg></a></li>
        </ul>


      </div>
    </div>


  </footer>
</div>

